@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse.woff2') format('woff2'),
        url('../fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    margin: 0;
}

.left-section {
    display: flex;
    width: 500px;
    height: 100%;
    flex-shrink: 0;
}

.left-section > p {
    position: absolute;
    top: 700px;
    left: 130px;
    color: white;
    font-size: 15px;
}

.left-section > p > a {
    color: white;
}

.bg-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 10em;
}

.logo {
    max-width: 15%;
    height: auto;
    object-fit: contain;
}

.logo-container > p {
    color: white;
    font-family: 'Norse', serif;
    font-weight: bold;
    font-size: 80px;
    margin: 15px 0;
}

.right-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.top-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    padding: 150px 0px 40px 50px;
}

.top-container > p {
    margin: 0;
    width: 550px;
    font-size: 18px;
    font-weight: 600;
}

p > span {
    font-style: italic;
}

.top-container p:nth-child(3) {
    margin-top: 20px;
}

.middle-container {
    padding: 20px 0px 40px 50px;
}

.form-container {
    display: flex;
    gap: 80px;
    margin-left: -50px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-bottom: 15px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.form-block {
    display: flex;
    flex-direction: column;
}

legend {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input[type="password"]:user-invalid {
    border-color: red;
}

input {
    margin-bottom: 20px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    height: 18px;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

label {
    font-size: 12px;
}

.submit-container > button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 50px;
    border: none;
    border-radius: 5px;
    background-color: #596D48;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 15px;
}

.submit-container > p > a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}
