@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse.woff2') format('woff2'),
        url('../fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
}

.container {
    display: flex;
    margin: 0;
}

.left-section {
    display: flex;
    /* justify-content: center; */
    width: 500px;
    height: 100%;
    flex-shrink: 0;
}

.left-section > p {
    position: absolute;
    top: 670px;
    left: 100px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.bg-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 10em;
}

.logo {
    max-width: 15%;
    height: auto;
    object-fit: contain;
}

.logo-container > p {
    color: white;
    font-family: 'Norse', serif;
    font-weight: bold;
    font-size: 80px;
    margin: 15px 0;
}

.right-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.top-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: rgb(230, 229, 229);
    padding: 80px 0px 40px 50px;
}

.top-container > p {
    margin: 0;
    width: 600px;
    font-size: 20px;
}

p > span {
    font-style: italic;
}

.middle-container {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}


.form-container {
    display: flex;
    margin-left: -15px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 20px;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    height: 18px;
}

.right-form {
    /* margin-top: 50px; */
}